{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h3>Nouvelles notifications</h3>
    {% if notifications.wasNotRed is not empty %}
        <table>
            <tbody>
                {% for notification in notifications.wasNotRed %}
                    <tr>
                        <td>{{ notification.getCreatedAt|date('Y-m-d') }}</td>
                        <td>{{ render_notification(notification) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Rien de neuf ! </p>
    {% endif %}
    <hr>
    <h3>Vieilles notifications</h3>
    {% if notifications.wasRed is not empty %}
        <table>
            <tbody>
            {% for notification in notifications.wasRed %}
                <tr>
                    <td>{{ notification.getCreatedAt|date('Y-m-d') }}</td>
                    <td>{{ notification.getContent }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Rien de vieux ! </p>
    {% endif %}
{% endblock %}