<span>

    {% if isNotificationRecipientTheEventAuthor %}
        Vous venez de publier un nouvel article :
        {% include "/notification/partials/displayArticleTitleWithLink.html.twig" with {"article" : event.article} %}
    {% else %}
        {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : event.eventAuthor} %}
        a publié un nouvel article :
        {% include "/notification/partials/displayArticleTitleWithLink.html.twig" with {"article" : event.article} %}
    {% endif %}
</span>