<span>
    <a href ="{{ path('user_show', {'id': event.triggerUser.id}) }}">
        {{ event.triggerUser.username }}
    </a>
    a publié un nouvel article :
    <a href ="{{ path('article_show', {'id': event.article.id}) }}">
        {{ event.article.title }}
    </a>
</span>