html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

div {
    padding : 5px;
}

footer {
    clear: both;
    height: 25px;
    margin-top: -100px;
    background-color: black;
    position: absolute; bottom: 0; left: 0; right: 0;
    color: white;
}

a {
    color: inherit;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/**
    UNIQUE CLASS FOR ONE ROLE
 */

.is-row{
    display: flex;
}

.is-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle
}

.is-title {
    font-weight: bold;
    color: black;
}

.is-main-title {
    font-weight: bold;
    color: black;
    font-size: 2em;
}

.is-secondary {
    font-size: 0.7em;
    color: darkslategray;
}

.border-stylay {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    max-height: 1000px
}

.tab-button {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    padding: 5px;
}

.coconuts-active {
    background-color: lightblue;
}

.coconuts-inactive {
    background-color: aliceblue;
}

.coconuts-hide {
    display: none;
}

.border-serious {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid navajowhite;
    padding: 5px;
}

.margin-left {
    margin-left: 5px;
}


/**
    STORY
 */

.story-article-cover {
    height: 250px;
    width: 650px;
    object-fit: cover;
    object-position: center;
}

.story-article-content {
    text-align: justify;
}


/**
    COLLAPSIBLE
 */




/**
    CONTAINERS
 */

.coconuts-story-container {
    margin-top: 20px;
    padding: 10px;
    width: calc(100% - 25px);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.coconuts-article-container {
    margin-top: 20px;
    padding: 10px;
    width: calc(100% - 10px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/**
    GRID SYSTEM
 */


/**
    NAVBAR
 */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/**
 Font awesome icon CSS
 */
.fa .fas .far{
    color: black;
}

/**
    Profiles picture rounded + all sizes
 */
.coconuts-round-picture {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.rikiki-img {
    width : 40px;
    height: 40px;
    margin: 5px;
}

.small-img {
    width : 100px;
    height: 100px;
    margin: 5px;
}

.small-icon {
    height: 20px;
}

.is-bold {
    font-weight: bold;
}


/**
XXXXXXXXXX
 */
.coconuts-input-article-body {
    width: 100%;
    height: 300px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.coconuts-input-article-title {
    width: 100%;
    height: 50px;
    border: 3px solid #cccccc;
    padding: 5px;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.coconuts-input-chapeau {
    width: 100%;
    height: 100px;
    border: 3px solid #cccccc;
    padding: 5px;
    background-position: bottom right;
    background-repeat: no-repeat;
}


.fa-heart.fa-2x {
    color: deeppink;
}
.fa-2x.fa-bookmark {
    color:royalblue;
}

/**
    CHANNELS + RELATED ARTICLE SMALL BLOCS
 */

.coconuts-subscribed-channel-block {
    margin-top : 30px;
    margin-bottom : 30px
}

.channel-header-block {
    display: flex;
}
.channel-header-left {
    width: 800px;
}

.channel-header-right {

}

.channel-body-block{
    display: flex;
}

.channel-article-main {
}
.channel-article-main-body {
    width: 600px;
}

.channel-article-secondary {
    width: 250px;
}

.channel-article-main-pic {
    max-width: 750px;
    max-height: 400px;
}

.channel-article-secondary-pic {
    max-width: 200px;
    max-height: 150px;
}
.small-font {
    font-size : 1em;
}
.chapeau {
    font-size: 1em;
    font-style: italic;
    color: #3f4e5e;
}

.secondary-info {
    font-size: 0.7em;
    color: darkslategray;
}


/**
    LABEL CLASSE
 */
 >
.label-stylay {
     color: white;
     font-weight: bold;
}

.label-admin {
    background-color : firebrick;
    border: solid 2px darkred;
}

.label-subscribed {
    background-color : limegreen;
    border: solid 2px forestgreen;
}

.label-not-subscribed {
    background-color : darkslateblue;
    border: solid 2px dodgerblue;
}

.label-writer {
    background-color : mediumpurple;
    border: solid 2px purple;
}

.label-join-channel {
    background-color : tomato;
    border: solid 2px orangered;
}

.label-leave-channel {
    background-color : #3adb76;
    border: solid 2px #ee2d4d;
}

.label-micro {
    border-radius: 12px 12px 12px 12px;
    font-size : 0.7em;
    padding: 4px 4px 4px 4px;
    color: white;
}

.label-rikiki {
    border-radius: 15px 15px 15px 15px;
    font-size : 1em;
    padding: 4px 4px 4px 4px;
    color: white;
}

.label-fat {
    border-radius: 20px 20px 20px 20px;
    font-size : 1em;
    padding: 8px 8px 8px 8px;
}

.channel-header {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
}


.textarea-stylay {
    width: 350px;
    height: 80px;
    border-radius: 10px 10px 10px 10px;
}
/**
    HR
 */

hr {
    width: 0%;
    min-width: 20%;
    max-width: 100%;
    margin: 5% auto;
    border: none;
    border-bottom: 1px solid #666;
    position: relative;
    transition: box-shadow 200ms ease-in-out;
    box-shadow: 0px 0px 0px 0px #f9f9f9;
}

hr.activated {
    box-shadow: 0px 4px 0px 0px #666;
}


/**
    FOLLOW BUTTONS
 */

.coconuts-follow-button {
    border-radius: 100px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 0.8em;
    margin: 0 15px;
}

.follow {
    background: #76B3FA;
}

.unfollow {
    background: #D2D2D2;
}


/**
    ARTICLE COMMENTS BLOCK
 */

.comment{
    display: flex;
    margin-top:15px;
    margin-bottom:15px;
}
.author-comment > .comment-body{
    background-color: palegreen;
}

.user-comment > .comment-body{
    background-color: lightblue;
}

.comment-body {
    font-size: 0.8em;
    box-shadow: 5px 2px 5px black;
    display: table-cell;
    vertical-align: middle;
    width : 400px;
    height : 50px;
    padding : 10px;
    margin-left : 15px;
    margin-right : 15px;
    border-radius: 10px 10px 10px 10px;
}

.comment-info {
    width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    vertical-align: middle
}
.comment-avatar{
    width: 50px;
}

li.author-comment{
    justify-content: flex-end;
}

li.author-comment > .comment-info{
    order: 3;
}

li.author-comment > .comment-avatar{
    order: 2;
}

li.author-comment > .comment-body{
    order: 1;
}


.comment-username {
    font-weight: bold;
    font-size: 0.9em;
}

.comment-date {
    font-style: italic;
    font-size: 0.6em;
    color:slategrey;
}

#jquery-hidden-comment-block {
    display: none;
}


/**
    AUTHOR SHORT PROFILE BLOCK
 */

.coconuts-author-block {
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.coconuts-author-block-header {
    top: 50px;
    left: 10px;
    width: 850px;
    height: 120px;
}

.coconuts-author-block-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.coconuts-author-body {
    display:flex;
    width: 850px;
}

.coconuts-author-block-activity {
    display: flex;
}


/**
    AUTHOR FULL PROFILE BLOCK
 */

/**
    XXXXXXX
 */
.coconuts-main-title {
    font-size: 3em;
    text-align: center;
}