<span>
    {% if  isNotificationRecipientTheEventAuthor %}
        vous avez accepté la demande d'inscription de :
        {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : channelSubscriptionRequest.applicant} %}
        pour rejoindre  le channel
        {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" :channelSubscriptionRequest.channel} %}
    {% elseif hideEventAuthorIdentity %}
        Votre demande pour rejoindre  le channel
        {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" :channelSubscriptionRequest.channel} %}
        a été acceptée.
    {% else %}
        {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : eventAuthor} %}
        a accepté la demande d'inscription de :
        {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : channelSubscriptionRequest.applicant} %}
        pour rejoindre  le channel dont vous êtes administrateur :
        {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" : channelSubscriptionRequest.channel} %}
    {% endif %}
</span>
