<span>
    {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : event.triggerUser} %}
    a refusé votre demande d'inscription pour rejoindre  le channel suivant :
    {% include /notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" :event.channelSubscriptionRequest.channel} %}
</span>
