<span>

     {% if  isNotificationRecipientTheEventAuthor %}
         votre demande d'inscription pour rejoindre  le channel suivant :
         {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" :event.channelSubscriptionRequest.channel} %}
         a été envoyée
     {% else %}
         {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : event.eventAuthor} %}
         a fait une demande d'inscription pour rejoindre  le channel suivant :
         {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" :event.channelSubscriptionRequest.channel} %}
     {% endif %}
</span>