<span>
    {% if isNotificationRecipientTheEventAuthor  %}
        vous venez de supprimer votre abonnement au channel :
        {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" : event.channelSubscription.channel} %}
    {% else %}
        {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : event.eventAuthor} %}
        a supprimé son abonnement au channel
        {% include "/notification/partials/displayChannelTitleWithLink.html.twig" with {"channel" : event.channelSubscription.channel} %}
        dont vous êtes administrateur.
</span>