<span>
    {% include "/notification/partials/displayUserNameWithLink.html.twig" with {"user" : eventAuthor} %}
    a répondu à un commentaire publié dans  l'article :
    {% include "/notification/partials/displayArticleTitleWithLink.html.twig" with {"article" : comment.article} %}
    avec le contenu suivant :   {{ event.comment.title }}
</span>
