{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class ="coconuts-container">
        <h1>Modifier l'article : {{article.title}}</h1>

        {{ include('article/partials/form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('article_index') }}">back to list</a>

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
