<h1>Bonjour {{ recipientName }}</h1>

<p>
    La demande d'inscription pour le channel {{ channelTitle }} que vous avez effecuée
    a malheureusement été refusée  en date du {{ "now"|date("m/d/Y") }}.
</p>
<p>
    Bien cordialement.
</p>

<img src="{{ embedImage }}" alt="nicky"/>